.container-full {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.heading ul {
    list-style: none;
    margin: 20px;
    margin-left: 0;
    padding: 0;
}

.heading li {
    display: inline-block;
    min-width: 80px;
}

.container-full {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    box-sizing: border-box;
}

.menu-left {
    box-sizing: content-box;
    height: 650px;
    width: 250px;
    margin: 0;
}

.profile div {
    padding-left: 15px;
}

.name {
    margin-bottom: 0px;
}

.btn {
    margin-left: 15px;
}

.custom-select {
    width: 200px;
}

h3 {
    padding-bottom: 15px;
}