<div class="listings-title">
    <div class="container">
        <div class="wrap-title">
            <h1 class="title-product">Laptop MSI GF63 Thin 9RCX 646VN Geforce GTX1050Ti 4GB Intel Core i5 9300H 8GB 512GB 15.6” IPS Backlight
                Keyboard Win 10</h1>
        </div>
    </div>
</div>
<div class="container container-product">
    <figure class="woocommerce-product-gallery__wrapper">
        <div class="product-images-container clearfix thumbnail-bottom">
            <!-- Image Slider -->
            <div class="slider product-responsive slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable" tabindex="0">
                    <div class="slick-track" style="opacity: 1; width: 2220px;">
                        <div data-thumb="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-100x100.jpg"
                            class="woocommerce-product-gallery__image slick-slide slick-active" data-slick-index="0"
                            aria-hidden="false"
                            style="width: 370px; position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
                            <a href="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN.jpg"><img
                                    width="568" height="568"
                                    data-srcset="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-568x568.jpg 568w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-150x150.jpg 150w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-300x300.jpg 300w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-768x768.jpg 768w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-20x20.jpg 20w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-30x30.jpg 30w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-40x40.jpg 40w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-193x193.jpg 193w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-100x100.jpg 100w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN.jpg 800w"
                                    data-src="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-568x568.jpg"
                                    src="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-568x568.jpg"
                                    class="wp-post-image lazyloaded" alt="" title="GF63 Thin 9RCX 646VN" data-caption=""
                                    data-large_image="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN.jpg"
                                    data-large_image_width="800" data-large_image_height="800"
                                    sizes="(max-width: 568px) 100vw, 568px"
                                    srcset="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-568x568.jpg 568w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-150x150.jpg 150w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-300x300.jpg 300w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-768x768.jpg 768w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-20x20.jpg 20w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-30x30.jpg 30w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-40x40.jpg 40w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-193x193.jpg 193w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-100x100.jpg 100w, https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN.jpg 800w"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Slider -->
            <div class="slider product-responsive-thumbnail slick-initialized slick-slider"
                id="product_thumbnail_22836">
                <div aria-live="polite" class="slick-list draggable" tabindex="0">
                    <div class="slick-track"
                        style="opacity: 1; width: 1184px; transform: translate3d(-370px, 0px, 0px);">
                        <div class="item-thumbnail-product slick-slide slick-cloned" data-slick-index="-5"
                            aria-hidden="true" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_2-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-cloned" data-slick-index="-4"
                            aria-hidden="true" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_1-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-cloned" data-slick-index="-3"
                            aria-hidden="true" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_3-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-cloned" data-slick-index="-2"
                            aria-hidden="true" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_4-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-cloned" data-slick-index="-1"
                            aria-hidden="true" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_5-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-active" data-slick-index="0"
                            aria-hidden="false" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-active" data-slick-index="1"
                            aria-hidden="false" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_2-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-active" data-slick-index="2"
                            aria-hidden="false" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_1-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-active" data-slick-index="3"
                            aria-hidden="false" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_3-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail ls-is-cached lazyloaded" alt=""/>
                            </div>
                        </div>
                        <div class="item-thumbnail-product slick-slide slick-active" data-slick-index="4"
                            aria-hidden="false" style="width: 74px;">
                            <div class="thumbnail-wrapper">
                                <img width="100" height="100"
                                    src="https://xgear.vn/wp-content/uploads/2018/08/GF63_8RD_4-100x100.jpg"
                                    class="attachment-shop_thumbnail size-shop_thumbnail ls-is-cached lazyloaded" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>