<div class="listings-title">
    <div class="container">
        <div class="wrap-title">
            <h1 class="title-product">Laptop MSI GF63 Thin 9RCX 646VN Geforce GTX1050Ti 4GB Intel Core i5 9300H 8GB
                512GB 15.6” IPS Backlight
                Keyboard Win 10</h1>
        </div>
    </div>
</div>
<div class="container container-product">
    <figure class="woocommerce-product-gallery__wrapper">
        <div class="product-images-container clearfix thumbnail-bottom">
            <!-- Image Slider -->
            <div class="slider product-responsive slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable" tabindex="0">
                    <div class="slick-track">
                        <div class="woocommerce-product-gallery__image slick-slide slick-active" data-slick-index="0"
                            aria-hidden="false"
                            style="width: 370px; position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
                            <a href="https://xgear.vn/wp-content/uploads/2019/10/GF63-Thin-9RCX-646VN.jpg"><img
                                    id="img-container" width="568" height="568" src="/picture/MSI/msi_3.jpg"
                                    class="wp-post-image lazyloaded" alt=""></a>
                        </div>

                        <div class="card container-info-product">
                            <div class="card-header title-container">
                                Thông tin sản phẩm
                            </div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="time-expired">
                                        03/02/2020 12:00:00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="info">
                                            <label>Người bán:</label>
                                            <label>Trần Hoàng Anh Thư</label>
                                        </div>
                                        <div class="info">
                                            <label>Liên hệ:</label>
                                            <label>0947883123-thuheo@gmail.com</label>
                                        </div>

                                        <div class="info">
                                            <label>Điểm:</label>
                                            <label>8/10&nbsp;<img width="20" height="20" style="display: inline-block;"
                                                    src="/picture/icon/smile.png" /></label>
                                        </div>

                                        <div class="info">
                                            <label>Thời điểm đăng:</label>
                                            <label>12/11/2019</label>
                                        </div>

                                        <div class="info">
                                            <label>Thời điểm kết thúc:</label>
                                            <label>03/03/2020</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 container-price">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Giá cao nhất:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>10.990.000₫</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Giá mua ngay:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>19.990.000₫</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Giá khởi điểm:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>8.000.000₫</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Bước nhảy:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>500.000₫</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Người ra giá cao nhất:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>****Hiếu</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="product-description">
                                    <div class="header-description">
                                        Mô tả thêm:
                                    </div>
                                    <div class="content-description">
                                        CPU: Intel Core i5 9300H - Màn hình: 15.6" FHD (1920×1080), IPS 45%NTSC color
                                        Anti-glare<br>
                                        Hệ điều hành: Window 10 SL 64 Bit - Ram: DDR4 8GB (1 x 8GB) 2666MHz; 2 slots, up
                                        to 32GB
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="image-button container-thumbnails" onclick="showImage('/picture/MSI/msi_3.jpg')">
                        <img width="100" height="100" src="/picture/MSI/msi_3.jpg"
                            class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt="" />
                    </button>
                    <button class="image-button container-thumbnails" onclick="showImage('/picture/MSI/msi_3_2.jpg')">
                        <img width="100" height="100" src="/picture/MSI/msi_3_2.jpg"
                            class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt="" />
                    </button>
                    <button class="image-button container-thumbnails" onclick="showImage('/picture/MSI/msi_3_3.jpg')">
                        <img width="100" height="100" src="/picture/MSI/msi_3_3.jpg"
                            class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt="" />
                    </button>
                    <button class="image-button container-thumbnails" onclick="showImage('/picture/MSI/msi_3_4.jpg')">
                        <img width="100" height="100" src="/picture/MSI/msi_3_4.jpg"
                            class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt="" />
                    </button>
                    <button class="image-button container-thumbnails" onclick="showImage('/picture/MSI/msi_3_5.jpg')">
                        <img width="100" height="100" src="/picture/MSI/msi_3_5.jpg"
                            class="attachment-shop_thumbnail size-shop_thumbnail lazyloaded" alt="" />
                    </button>
                </div>

                <div class="col-sm-8 d-flex justify-content-around">
                    <div class="container-button ">
                        <button class="button-favorite button-left-right">&#9754;</button>
                        <input type="text" class="text-price text-right" />
                        <button class="button-favorite button-left-right">&#9755;</button>
                        <button class="button-favorite" style="margin-left:10px;" data-toggle="modal"
                            data-target="#modal_confirm_price">&#10004;&nbsp;Ra giá</button>
                    </div>
                    <div class="container-button">
                        <button class="button-favorite">&#11088;&nbsp;Thêm vào mục yêu thích</button>
                    </div>
                </div>
            </div>

            <div class="row container-other">
                <div class="col-sm-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="normal-fontsize font-weight-bold">#</th>
                                <th scope="col" class="normal-fontsize font-weight-bold">Thời điểm</th>
                                <th scope="col" class="normal-fontsize font-weight-bold">Người mua</th>
                                <th scope="col" class="normal-fontsize font-weight-bold">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="normal-fontsize">1</th>
                                <td class="normal-fontsize">13/11/2019 20:55</td>
                                <td class="normal-fontsize">***Khoa</td>
                                <td class="normal-fontsize">700.000.000</td>
                            </tr>
                            <tr>
                                <th scope="row" class="normal-fontsize">2</th>
                                <td class="normal-fontsize">13/11/2019 20:55</td>
                                <td class="normal-fontsize">***Khoa</td>
                                <td class="normal-fontsize">700.000.000</td>
                            </tr>
                            <tr>
                                <th scope="row" class="normal-fontsize">3</th>
                                <td class="normal-fontsize">13/11/2019 20:55</td>
                                <td class="normal-fontsize">***Khoa</td>
                                <td class="normal-fontsize">700.000.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8">
                    <div class="container-each-other-product">
                        <div class="products-entry item-wrap clearfix ">
                            <div class="item-detail">
                                <div class="item-img products-thumb ">
                                    <div class="bidder-name">****Nghĩa</div>
                                    <div class="count-bid">7 lượt</div>
                                    <a href="#">
                                        <div class="product-thumb-hover d-flex justify-content-center"><img width="193 "
                                                height="193 " src="/picture/MSI/msi_8.jpg "
                                                class="attachment-shop_catalog size-shop_catalog wp-post-image lazyloaded ">
                                        </div>
                                    </a>
                                    <div class="berocket_better_labels berocket_better_labels_image ">
                                        <div
                                            class="berocket_better_labels_position berocket_better_labels_position_right ">
                                            <div class="berocket_better_labels_line berocket_better_labels_line_1 ">
                                                <div
                                                    class="berocket_better_labels_inline berocket_better_labels_inline_1 text-center">
                                                    <span class="content-date ">
                                                        <i
                                                            class="template-i-after  font-date"></i><b>26/12/2019</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content products-content ">
                                    <div class="reviews-content ">

                                        <div class="star "></div>

                                    </div>
                                    <h4><a href="#">Laptop Gaming MSI GF63 Thin 9SC 070VN Geforce GTX1650 Intel Core i7
                                            9750H
                                            8GB 256GB 15.6” IPS Backlight Keyboard Win 10</a></h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>Khởi điểm:</div>
                                            <div>Cao nhất:</div>
                                            <div>Mua ngay:</div>
                                            <div>Bước nhảy:</div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div>15.000.000₫</div>
                                            <div>17.990.000₫</div>
                                            <div>24.490.000₫</div>
                                            <div>500.000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-each-other-product">
                        <div class="products-entry item-wrap clearfix ">
                            <div class="item-detail">
                                <div class="item-img products-thumb ">
                                    <div class="bidder-name">****Nghĩa</div>
                                    <div class="count-bid">7 lượt</div>
                                    <a href="#">
                                        <div class="product-thumb-hover d-flex justify-content-center"><img width="193 "
                                                height="193 " src="/picture/MSI/msi_8.jpg "
                                                class="attachment-shop_catalog size-shop_catalog wp-post-image lazyloaded ">
                                        </div>
                                    </a>
                                    <div class="berocket_better_labels berocket_better_labels_image ">
                                        <div
                                            class="berocket_better_labels_position berocket_better_labels_position_right ">
                                            <div class="berocket_better_labels_line berocket_better_labels_line_1 ">
                                                <div
                                                    class="berocket_better_labels_inline berocket_better_labels_inline_1 text-center">
                                                    <span class="content-date ">
                                                        <i
                                                            class="template-i-after  font-date"></i><b>26/12/2019</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content products-content ">
                                    <div class="reviews-content ">

                                        <div class="star "></div>

                                    </div>
                                    <h4><a href="#">Laptop Gaming MSI GF63 Thin 9SC 070VN Geforce GTX1650 Intel Core
                                            i7
                                            9750H
                                            8GB 256GB 15.6” IPS Backlight Keyboard Win 10</a></h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>Khởi điểm:</div>
                                            <div>Cao nhất:</div>
                                            <div>Mua ngay:</div>
                                            <div>Bước nhảy:</div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div>15.000.000₫</div>
                                            <div>17.990.000₫</div>
                                            <div>24.490.000₫</div>
                                            <div>500.000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-each-other-product">
                        <div class="products-entry item-wrap clearfix ">
                            <div class="item-detail">
                                <div class="item-img products-thumb ">
                                    <div class="bidder-name">****Nghĩa</div>
                                    <div class="count-bid">7 lượt</div>
                                    <a href="#">
                                        <div class="product-thumb-hover d-flex justify-content-center"><img width="193 "
                                                height="193 " src="/picture/MSI/msi_8.jpg "
                                                class="attachment-shop_catalog size-shop_catalog wp-post-image lazyloaded ">
                                        </div>
                                    </a>
                                    <div class="berocket_better_labels berocket_better_labels_image ">
                                        <div
                                            class="berocket_better_labels_position berocket_better_labels_position_right ">
                                            <div class="berocket_better_labels_line berocket_better_labels_line_1 ">
                                                <div
                                                    class="berocket_better_labels_inline berocket_better_labels_inline_1 text-center">
                                                    <span class="content-date ">
                                                        <i
                                                            class="template-i-after  font-date"></i><b>26/12/2019</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content products-content ">
                                    <div class="reviews-content ">

                                        <div class="star "></div>

                                    </div>
                                    <h4><a href="#">Laptop Gaming MSI GF63 Thin 9SC 070VN Geforce GTX1650 Intel Core
                                            i7
                                            9750H
                                            8GB 256GB 15.6” IPS Backlight Keyboard Win 10</a></h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>Khởi điểm:</div>
                                            <div>Cao nhất:</div>
                                            <div>Mua ngay:</div>
                                            <div>Bước nhảy:</div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div>15.000.000₫</div>
                                            <div>17.990.000₫</div>
                                            <div>24.490.000₫</div>
                                            <div>500.000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-each-other-product">
                        <div class="products-entry item-wrap clearfix ">
                            <div class="item-detail">
                                <div class="item-img products-thumb ">
                                    <div class="bidder-name">****Nghĩa</div>
                                    <div class="count-bid">7 lượt</div>
                                    <a href="#">
                                        <div class="product-thumb-hover d-flex justify-content-center"><img width="193 "
                                                height="193 " src="/picture/MSI/msi_8.jpg "
                                                class="attachment-shop_catalog size-shop_catalog wp-post-image lazyloaded ">
                                        </div>
                                    </a>
                                    <div class="berocket_better_labels berocket_better_labels_image ">
                                        <div
                                            class="berocket_better_labels_position berocket_better_labels_position_right ">
                                            <div class="berocket_better_labels_line berocket_better_labels_line_1 ">
                                                <div
                                                    class="berocket_better_labels_inline berocket_better_labels_inline_1 text-center">
                                                    <span class="content-date ">
                                                        <i
                                                            class="template-i-after  font-date"></i><b>26/12/2019</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content products-content ">
                                    <div class="reviews-content ">

                                        <div class="star "></div>

                                    </div>
                                    <h4><a href="#">Laptop Gaming MSI GF63 Thin 9SC 070VN Geforce GTX1650 Intel Core
                                            i7
                                            9750H
                                            8GB 256GB 15.6” IPS Backlight Keyboard Win 10</a></h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>Khởi điểm:</div>
                                            <div>Cao nhất:</div>
                                            <div>Mua ngay:</div>
                                            <div>Bước nhảy:</div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div>15.000.000₫</div>
                                            <div>17.990.000₫</div>
                                            <div>24.490.000₫</div>
                                            <div>500.000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-each-other-product">
                        <div class="products-entry item-wrap clearfix ">
                            <div class="item-detail">
                                <div class="item-img products-thumb ">
                                    <div class="bidder-name">****Nghĩa</div>
                                    <div class="count-bid">7 lượt</div>
                                    <a href="#">
                                        <div class="product-thumb-hover d-flex justify-content-center"><img width="193 "
                                                height="193 " src="/picture/MSI/msi_8.jpg "
                                                class="attachment-shop_catalog size-shop_catalog wp-post-image lazyloaded ">
                                        </div>
                                    </a>
                                    <div class="berocket_better_labels berocket_better_labels_image ">
                                        <div
                                            class="berocket_better_labels_position berocket_better_labels_position_right ">
                                            <div class="berocket_better_labels_line berocket_better_labels_line_1 ">
                                                <div
                                                    class="berocket_better_labels_inline berocket_better_labels_inline_1 text-center">
                                                    <span class="content-date ">
                                                        <i
                                                            class="template-i-after  font-date"></i><b>26/12/2019</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content products-content ">
                                    <div class="reviews-content ">

                                        <div class="star "></div>

                                    </div>
                                    <h4><a href="#">Laptop Gaming MSI GF63 Thin 9SC 070VN Geforce GTX1650 Intel Core
                                            i7
                                            9750H
                                            8GB 256GB 15.6” IPS Backlight Keyboard Win 10</a></h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>Khởi điểm:</div>
                                            <div>Cao nhất:</div>
                                            <div>Mua ngay:</div>
                                            <div>Bước nhảy:</div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div>15.000.000₫</div>
                                            <div>17.990.000₫</div>
                                            <div>24.490.000₫</div>
                                            <div>500.000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <hr class="footer-landing " />
    <div class="modal" id="modal_confirm_price" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 25px;">Đấu giá sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body normal-fontsize">
                    <p>Bạn chắc chắn muốn đấu giá sản phẩm với giá này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary normal-fontsize">Tôi chắc chắn</button>
                    <button type="button" class="btn btn-secondary normal-fontsize" data-dismiss="modal">Khoan
                        đã</button>
                </div>
            </div>
        </div>
    </div>
</div>