.category-header {
    font-weight: 700;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 500px;
}

.container-header {
    max-width: 1170px;
    margin: auto !important;
}

.sort-order {
    width: 34px;
    height: 34px;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px !important;
    border-right: 1px solid #D7DBDD !important;
}

.select-order {
    background: white;
    color: black;
    border-radius: 0px 5px 5px 0px !important;
    min-width: 160px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.option-order {
    max-width: 122px;
    padding: 6px 12px;
    font: 14px sans-serif;
}

.content-date {
    height: 30px;
    width: 50px;
    background-color: #f16543;
    color: #ffffff;
    border-radius: 3px;
    line-height: 30px;
    border: 0px solid #ffffff;
    font-size: 14px;
    transform: rotate(0deg);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.font-date {
    background-color: #f16543;
    border-color: #f16543;
}

.no-spacing {
    margin: 0 !important;
}